<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Picshare</title>
</head>

<body> 
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/picture">Picture</a>
      <a href="/upload">Upload</a>
    </nav>
  </header>
  
{% block content %}{% endblock %}
<footer id="contentinfo" class="body">
</footer>
</body>
</html>
